body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	scrollbar-face-color: #EFEFEF;
	scrollbar-shadow-color: #ffffff;
	scrollbar-highlight-color: #ffffff;
	scrollbar-3dlight-color: #ffffff;
	scrollbar-darkshadow-color: #ffffff;
	scrollbar-track-color: #ffffff;
	scrollbar-arrow-color: #cccccc;
	font-family: "±¼¸²", "±¼¸²Ã¼"; FONT-SIZE: 9pt; LINE-HEIGHT: 14pt}
	
td { font-family: ""; font-size: 11px; color: #666666; line-height: 20px;}

a {selector-dummy: expression(this.hideFocus=true);}

.su01 { font-family: ""; font-size: 11px; color: #666666; text-align: center; line-height: 16px;}

.su02 { font-family: ""; font-size: 11px; color: #666666; line-height: 14px;}